table.vaa-lookup-table tbody tr td:first-child,
table.vaa-lookup-table thead tr th:first-child {
  text-align: right;
  padding-right: 1em;
}
table.vaa-lookup-table thead th:not(:first-child) {
  text-align: left;
  padding-left: 0;
}